<header class="header">
    <div class="wrapper">
        <div class="container">
            <nav class="nav">
                <ul class="primary-nav">
                    <li class="float-left"><span class="name"><h2>Wil Nichols</h2><h3>Designer & Photographer</h3></span></li>
                    <li class="{% if_current_page '/index.html' 'active' 'inactive' %}" ><a href="index.html">Work</a></li>
                    <li class="{% if_current_page '/photography.html' 'active' 'inactive' %}"><a href="photography.html">Photography</a></li>
                    <li class="{% if_current_page '/hello.html' 'active' 'inactive' %}"><a href="hello.html">Say Hello!</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>