        <script asyc src="https://use.typekit.net/qss5yuu.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta property="og:title" content="Bio of Designer Wil Nichols" />
        <meta property="og:site_name" content="Bio of Designer Wil Nichols" />
        <meta property="og:type" content="website" />
        <meta property="og:author" content="Wil Nichols" />
        <meta property="og:url" content="http://www.wilnichols.com" />
        <meta property="og:locale" content="en_US" />
        <title>{% block title %}{% endblock title%}</title>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
        <script src="{% static '/static/js/tilt.jquery.js' %}"></script>
        <script src="{% static '/static/js/modernizr.min.js' %}"></script>
        <meta name="description" content="Bio of Designer Wil Nichols">
        <link rel="stylesheet" href="{% static '/static/css/reset.css' %}" />
        <link rel="stylesheet" href="{% static '/static/css/master.css' %}" />
        <link rel="stylesheet" href="{% static '/static/css/grid.css' %}" />