@import "bourbon/bourbon";
@import "_common";


* {
    @include share(padding, margin, 0);
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

p, span, h1, h2, h3, h4, h5, h6, a {
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -o-user-select: initial;
    user-select: initial;
}

html {
    font-size: $rem;
}

body { 
    font-family: "DIN 2014", "din-2014", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif; 
    color: #000;
    background-color: #fff;
    &.debug {
        background-image: url(//basehold.it/i/24/000000);
        .block {
            background-image: url(//basehold.it/i/24/ffffff);
        }
    }
}

// typo

h1 {
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-weight: 600;
}

p {
    line-height: 1rem;
    font-size: .75rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    &.current, &:hover {
        text-decoration: underline;
    }
    &.zello-link {
        color: #fd9c00;
    }
}

strong {
    font-weight: 600;
}

img {
    border: 0;
    outline: 0;
}

//Structure

.wrapper {
    margin: 0 auto;
    position: relative;
    width: 100%;
    position: relative;
    padding: 0 2rem;
}
.grid-wrapper {
    margin: 0 auto;
    position: relative;
    width: 100%;
    position: relative;
    padding: 0;
    // makes up for grid item margin
    .container {
        max-width: 64rem;
    }
}

.container {
    max-width: 60rem;
    margin: 0 auto;
}


.nav {
    display: block;
    height: 4rem;
    width: 100%;
    font-size: 0;
    ul {
        width: 100%;
        text-align: right;
        font-size: 0;
        height: 4rem;
        li {
            display: inline;
            margin: 0 0 0 1rem;
            font-size: 0;
            height: 6rem;
            line-height: 6rem;
            &.float-left {
                float: left;
                margin: 0;
            }
            a {
                font-size: .75rem;
                color: #000;
                font-weight: 300;
            }
            span.name {
                font-size: .75rem;
                text-align: left;
                line-height: 1rem;
                height: 2rem;
                display: block;
                margin: 2rem 0 0 0;
            }
            &.active a {
                font-weight: 700;
            }
        }
    }
}

footer {
    font-size: .75rem;
    margin: 0 0 1rem 0;
}

p {
    padding: 0;
    font-weight: 600;
    color: #000;
}

// touchscreens

html.touchevents {
}

// responsive

@media only screen and (max-width: 750px) {
    .header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 100;
        -webkit-backdrop-filter: blur(.5rem);
        top: calc(-2rem - 2.5vw);
        .wrapper {
            border-bottom: 1px solid rgba(0,0,0,0.125);
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
                border-bottom: .5px solid rgba(0,0,0,0.125);
            }
        }
    }
    .about-me {
        margin: 2.5rem 0;
    }
    .wrapper {
        padding: 0 2.5vw;
    }
    .grid-wrapper .container {
        max-width: calc(60rem + 2.5vw);
    }
    footer {
        font-size: 3.75vw;
        text-align: center;
        margin: 2.5vw 0 3.75vw 0;
    }
}
