@import "bourbon/bourbon";
@import "_common";

@include keyframes(fade-in) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body { 
    color: #fff;
    background-color: #000;
}

a {
    color: rgb(0, 122, 255);
}

img {
    border: none !important;
}
.nav {
    ul {
        li {
            a {
                color: #fff;
                .logo {
                    .outer, .inner {
                        fill: #fff;
                    }
                    .glyph {
                        fill: #000;
                    }
                }

            }
        }
    }
}

p {
    color: #fff;
    font-size: 1rem;
    max-width: 27rem;
    width: 100%;
    margin: 0 0 1rem 0;
    &:first-child {
        margin: 5rem 0 1rem 0;
    }
    &:last-child {
        //2rem bc height of navigation below
        margin: 1rem 0 2rem 0;
    }
}
.fullscreen-exit {
    display: none;
    rect {
        fill: transparent !important; 
    }
}
body.fullscreen {
    .fullscreen-exit {
        cursor: pointer;
        display: block;
        position: fixed;
        z-index: 100;
        @include share(top, right, 1rem);
        @include share(width, height, 2rem);
        border-radius: 50%;
        background-color: rgba(28, 28, 28, .73);
        @include filter(saturate(2));
        -webkit-backdrop-filter: blur(.5rem);
    }
    body > * {
        display: none;
    }
    .header, .photography-nav, .footer {
        display: none;
    }
    .photoalbum {
        height: 100vh;
        width: 100vw;
        max-width: intrinsic;
        display: grid;
        padding-bottom: 0;
        align-items: center;
        position: absolute;
        @include share(top, right, bottom, left, 0);
        justify-content: center;
        background-color: #000;
    }
    .photoalbum li {
        display: none;
        &.front {
            display: block;
            background-color: #000;
            max-width: intrinsic;
            width: 100vw;
            text-align: center;
            a {
                display: grid;
                align-items: center;
                justify-content: center;
                width: 100vw;
                height: 100vh;
            }
            img {
                display: inline-block;
            }
        } 
    }
    
}
.photography-nav {
    display: block;
    height: 2rem;
    margin: 0 0 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    width: 100%;
    font-size: 0;
    ul {
        width: 100%;
        text-align: right;
        font-size: 0;
        height: 2rem;
        li {
            display: inline-block;
            padding: 0 .5rem;
            font-size: 0;
            @include share(height, line-height, 2rem);
            &.breadcrumbs {
                float: left;
                padding: 0;
                li {
                    padding: 0;
                    &.separator {
                        height: 22px;
                        width: 12px;
                        padding: 0;
                        margin: 0 .25rem 0 .125rem;
                        transform: translateY(.25rem);
                    }
                }
            }
            a, p, span {
                font-size: .75rem;
                color: #fff;
                font-weight: 300;
                margin: 0;
                display: inline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.photoalbum {
    display: block;
    position: relative;
    // padding to make block el since absolute children
    padding-bottom: 50%;
    max-width: 100vw;
    overflow: hidden;
    margin: 0 auto;
    li {
        font-size: 0;
        background-color: #101010;
        display: none;
        position: absolute;
        box-shadow: 0 1rem 4rem #000;
        &:not(.portrait) {
            padding-bottom: 50%;
            padding-right: 75%;
            max-width: 2400px;
            max-height: 1600px;
        }
        &.portrait {
            padding-bottom: 50%;
            padding-right: calc(100%/3);
            max-width: 1066px;
            max-height: 1600px;
        }
        &.front, &.next, &.prev, &.dblnext, &.dblprev {
            display: block;
            transition: transform 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940), opacity 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
        }
        &.front {
            z-index: 10;
            transform: translateX(calc(50vw - 50%)) scale(1);
        }
        &.next, &.prev {
            z-index: 0;
            opacity: 0.75;
            cursor: pointer;
            &:hover {
                opacity: 0.9;
            }
        }
        &.prev, &.dblprev {
            transform-origin: 0% 50%;
        }
        &.next, &.dblnext {
            transform-origin: 100% 50%;
        }
        &.next {
            transform: translateX(calc(50vw + 50% + 1rem)) scale(.9875);
            &:hover {
                    transform: translateX(calc(50vw + 50% + 1rem)) scale(1);
                }
            &.portrait {
                transform: translateX(calc(50vw + 112.6% + 1rem)) scale(.9875);
                &:hover {
                    transform: translateX(calc(50vw + 112.6% + 1rem)) scale(1);
                }
            }
        }
        &.prev {
            transform: translateX(calc(50vw - 150% - 1rem)) scale(.9875);
            &:hover {
                transform: translateX(calc(50vw - 150% - 1rem)) scale(1);
            }
            &.portrait {
                // magic numbers
                transform: translateX(calc(50vw - 212.6% - 1rem)) scale(.9875);
                &:hover {
                    transform: translateX(calc(50vw - 212.6% - 1rem)) scale(1);
                }
            }
        }
        &.dblnext, &.dblprev {
            z-index: -10;
            opacity: 0;
            pointer-events: none;
        }
        &.dblprev {
            transform: translateX(calc(50vw - 162.5% - 1rem)) scale(.9875);
            &.portrait {
                transform: translateX(calc(50vw - 225.1% - 1rem)) scale(.9875);
            }
        }
        &.dblnext {
            transform: translateX(calc(50vw + 67.5% + 1rem)) scale(.9875);
            &.portrait {
                transform: translateX(calc(50vw + 125.1% + 1rem)) scale(.9875);
            }
        }
        a {
            background-color: rgba(255, 255, 255, 0.5);
            position: absolute;;
            img {
                display: inline;
                width: 100%;
                &.fade-in {
                    @include animation(fade-in 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940));
                }
            }
            &.preloader *:not(.loader), &.preloader *:not(.loader):hover {
                opacity: 0;
            }
            i.loader {
                display: block;
                position: absolute;
                @include share(top, left, 50%);
                margin: -16px 0 0 -16px;
                @include share(height, width, background-size, 32px);
                background-repeat: no-repeat;
                // thanks jxn
                background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='rgba(255,255,255,0.5)'><path opacity='.25' d='M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4'/><path d='M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z'><animateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='0.8s' repeatCount='indefinite' /></path></svg>");
            }
        }

    }
}
ul.proximal-nav {
    height: 8rem;
    width: 100%;
    display: flex;
    
    li {
        width: 50%;
        align-items: center;
        & > a {
            display: flex;
            @include share(width, height, 100%);
            align-items: center;
            border-bottom: 1px solid rgba(255,255,255,0.25);
            &:hover {
                color: #fff;
                text-decoration: none;
                .centering-box {
                    transition: width 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
                    .icon-caption { 
                        transition: transform 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940), fill 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940), opacity 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
                        transform: translateX(0);
                        opacity: 1;
                            svg path {
                                transition: fill 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
                                fill: #fff !important;
                            }
                    }
                    h5, h6 {
                        transition: transform 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940), color 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
                        color: #fff;
                    }
                }
            }

        }
        .centering-box {
            display: block;
            height: 2.5rem;
            overflow: visible;
            position: relative;
        }
        .icon-caption {
            transition: transform 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940), opacity 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
            opacity: 0;
            position: absolute;
            svg path {
                transition: fill 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
                fill: rgb(0, 122, 255) !important;
            }
        }
        &:first-of-type a {
            padding: 0 12.5% 0 0;
            text-align: right;
            justify-content: flex-end;
            .icon-caption { 
                transform: translateX(2.5rem);
                right: 0;
            }
            &:hover {
                h5, h6 {
                    transform: translateX(-2.5rem);
                }
            }
        }
        &:last-of-type a {
            padding: 0 0 0 12.5%;
            justify-content: flex-start;
            .icon-caption { 
                transform: translateX(-2.5rem);
                left: 0;
            }
            &:hover {
                h5, h6 {
                    transform: translateX(2.5rem);
                }
            }
        }
        h5, h6 {
            transition: transform 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940), color 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
        }
        h5 {
            font-variant: small-caps;
            text-transform: lowercase;
            font-weight: 600;
            color: rgba(0, 122, 255, 0.5);
        }
        h6 {
            font-size: 1rem;
        }
    }
}

// touchscreens
html.touchevents {
    .photography-grid .photocontainer a .titlecontainer {
        opacity: 1;
        height: auto;
        padding: .5rem 0 .5rem .75rem;
        top: initial;
        text-align: left;
        background-color: transparent;
        .title {
            top: initial;
            width: auto;
            @include transform(none);
            font-size: .75rem;
            text-shadow: 0 .03125rem .0625rem rgba(0,0,0,0.5), 0 .0625rem .125rem rgba(0,0,0,0.25), 0 .25rem .5rem rgba(0,0,0,0.125);
        }
    }
}
