@import "bourbon/bourbon";
@import "_common";

@include keyframes(fade-in) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body { 
    color: #fff;
    background-color: #000;
}

a {
    color: rgb(0, 122, 255);
}

img {
    border: none !important;
}
.nav {
    ul {
        li {
            a {
                color: #fff;
                .logo {
                    .outer, .inner {
                        fill: #fff;
                    }
                    .glyph {
                        fill: #000;
                    }
                }

            }
        }
    }
}

p {
    color: #fff;
    font-size: 1rem;
    max-width: 27rem;
    width: 100%;
    margin: 0 0 1rem 0;
    &:first-child {
        margin: 5rem 0 1rem 0;
    }
    &:last-child {
        //2rem bc height of navigation below
        margin: 1rem 0 2rem 0;
    }
}

.photography-nav {
    display: block;
    height: 2rem;
    margin: 0 0 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    width: 100%;
    font-size: 0;
    ul {
        width: 100%;
        text-align: right;
        font-size: 0;
        height: 2rem;
        li {
            display: inline-block;
            padding: 0 .5rem;
            font-size: 0;
            @include share(height, line-height, 2rem);
            &:last-of-type {
                padding: 0 0 0 .5rem;
            }
            a {
                font-size: .75rem;
                color: #fff;
                font-weight: 300;
                &:hover {
                    text-decoration: none;
                }
            }
            &.active, &:hover {
                border-bottom: 1px solid rgba(255, 255, 255, 0.75);
            }
            &.active a {
                font-weight: 700;
            }
        }
    }
}

.photoalbum {
    display: block;
    position: relative;
    // padding to make block el since absolute children
    padding-bottom: 66.66666666%;
    max-width: 60rem;
    margin: 0 auto;
    li {
        font-size: 0;
//        overflow: hidden;
        background-color: rgba(255,255,255,.0625);
        max-width: 60rem;
        display: none;
        position: absolute;
        &.front, &.next, &.prev, &.dblnext, &.dblprev {
            display: inline-block;
            transition: transform 0.2s ease-out, opacity 0.2s ease-out;
        }
        &.front {
            z-index: 10;
            box-shadow: 0 1rem 4rem #000;
            transform: translateX(0) scale(1);
        }
        &.next, &.prev {
            z-index: 0;
            opacity: 0.75;
            cursor: pointer;
            pointer-events: default;
            &:hover {
                opacity: 0.9;
            }
        }
        &.next {
            transform: translateX(8%) scale(.9);
            &.next:hover {
                transform: translateX(calc(8% + .25rem)) scale(.9125);
            }
        }
        &.prev {
            transform: translateX(-8%) scale(.9);
            &.prev:hover {
                transform: translateX(calc(-8% - .25rem)) scale(.9125);
            }
        }
        &.dblnext, &.dblprev {
            z-index: -10;
            opacity: 0;
            pointer-events: none;
        }
        &.dblnext {
            transform: translateX(9%) scale(.9);
        }
        &.dblprev {
            transform: translateX(-9%) scale(.9);
        }
        img {
            @include share(max-width, max-height, 100%);
            display: block;
            &.fade-in {
                @include animation(fade-in 0.2s ease-out);
            }
        }
        i.loader {
            display: block;
            position: absolute;
            @include share(top, left, 50%);
            margin: -16px 0 0 -16px;
            @include share(height, width, background-size, 32px);
            background-repeat: no-repeat;
            // thanks jxn
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='rgba(255,255,255,0.5)'><path opacity='.25' d='M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4'/><path d='M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z'><animateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='0.8s' repeatCount='indefinite' /></path></svg>");
        }
    }
}
.photography-grid {
    font-size: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: .125rem;
    .photocontainer {
        white-space: nowrap;
        font-size: 0;
        overflow: hidden;
        position: relative;
        padding-top: 66.6666666666%;
        background-color: rgba(255,255,255,.0625);
        i.loader {
            display: block;
            position: absolute;
            @include share(top, left, 50%);
            margin: -16px 0 0 -16px;
            @include share(height, width, background-size, 32px);
            background-repeat: no-repeat;
            // thanks jxn
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='rgba(255,255,255,0.5)'><path opacity='.25' d='M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4'/><path d='M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z'><animateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='0.8s' repeatCount='indefinite' /></path></svg>");
        }
        &.portrait {
            padding-top: calc(133.33333333333% + .125rem);
            a img {
                margin-top: -8.3333333333%;
            }
        }
        &.portrait-full {
            padding-top: 150%;
        }
        a {
            display: block;
            @include share(width, height, 100%);
            position: absolute;
            @include share(top, right, bottom, left, 0);
            color: #fff;
            &.preloader *:not(.loader), &.preloader *:not(.loader):hover {
                opacity: 0;
            }
            .titlecontainer {
                position: absolute; 
                display: inline-block;
                @include share(top, right, bottom, left, 0);
                @include share(width, height, 100%);
                opacity: 0;
                @include transition(ease-out 0.2s opacity);
                font-size: 1rem;
                @include share(height, width, 100%);
                vertical-align: middle;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.75);
                top: 0;
                .title {
                    @include share(height, line-height, font-size, 1rem);
                    position: relative;
                    display: inline-block;
                    top: 50%;
                    @include transform(translateY(-1rem));
                    width: 100%;
//                    text-transform: lowercase;
                    font-weight: 600;
//                    font-variant: small-caps;
                }
            }
            img {
                width: 100%;
                display: block;
                &.fade-in {
                    @include animation(fade-in 0.2s ease-out);
                }
            }
            &:hover {
                .titlecontainer {
                    opacity: 1;
                    @include transition(ease-out 0.2s opacity);
                }
            }
        }
    }
    .Annecy {
        grid-column: 1 / 13;
        grid-row: 1 / 2;
    }
    .Amsterdam {
        grid-column: 1 / 7;
        grid-row: 2 / 4;
    }
    .WomensFirst {
        grid-column: 7 / 13;
        grid-row: 2 / 3;
    }
    .WomensSecond {
        grid-column: 7 / 13;
        grid-row: 3 / 4;
    }
    .Julios {
        grid-column: 1 / 5;
        grid-row: 4 / 5;
    }
    .Abstractions {
        grid-column: 5 / 9;
        grid-row: 4 / 5;
    }
    .AustenNeon {
        grid-column: 9 / 13;
        grid-row: 4 / 6;
    }
    .Iceland {
        grid-column: 1 / 5;
        grid-row: 5 / 7;
    }
    .People {
        grid-column: 5 / 9;
        grid-row: 5 / 6;
    }
    .Causeway {
        grid-column: 5 / 13;
        grid-row: 6 / 8;
    }
    .Harpa {
        grid-column: 1 / 5;
        grid-row: 7 / 8;
    }
    .Lyon {
        grid-column: 1 / 9;
        grid-row: 8 / 10;
    }
    .Madrid {
        grid-column: 9 / 13;
        grid-row: 8 / 9;
    }
    .Lisbon {
        grid-column: 9 / 13;
        grid-row: 9 / 11;
    }
    .London {
        grid-column: 1 / 9;
        grid-row: 10 / 12;
    }
    .Marseille {
        grid-column: 9 / 13;
        grid-row: 11 / 12;
    }
    .Seaholm {
        grid-column: 9 / 13;
        grid-row: 12 / 14;
    }
    .MtBonnel {
        grid-column: 1 / 9;
        grid-row: 12 / 14
    }
    .Paris {
        grid-column: 1 / 5;
        grid-row: 14 / 16;
    }
    .SanFermin {
        grid-column: 5 / 9;
        grid-row: 14 / 16;
        .photocontainer a img {
            margin-top: 0;
        }
    }
    .UptownCondos {
        grid-column: 9 / 13;
        grid-row: 14 / 16;
    }
    .BalloonPerson {
        grid-column: 1 / 7;
        grid-row: 16 / 17;
    }
    .FormalatVulcan {
        grid-column: 7 / 13;
        grid-row: 16 / 17;
        
    }
}

// touchscreens
html.touchevents {
    .photography-grid .photocontainer a .titlecontainer {
        opacity: 1;
        height: auto;
        padding: .5rem 0 .5rem .75rem;
        top: initial;
        text-align: left;
        background-color: transparent;
        .title {
            top: initial;
            width: auto;
            @include transform(none);
            font-size: .75rem;
            text-shadow: 0 .03125rem .0625rem rgba(0,0,0,0.5), 0 .0625rem .125rem rgba(0,0,0,0.25), 0 .25rem .5rem rgba(0,0,0,0.125);
        }
    }
}
