{% extends "photo-album.html" %}
{% block title %}Wil Nichols : Photography : Sets : Six Hours in Amsterdam{% endblock title%}

{% block css %}
    <link rel="stylesheet" href="{% static '/static/css/photoalbum.css' %}" />
{% endblock css %}

{% block content %}		
    <div class="wrapper">	
        <div class="container">    
            <nav class="photography-nav">
                <ul>
                    <li class="breadcrumbs"><ul><li><a href="../sets.html">Sets</a></li><li class="separator">{% include "svg/breadcrumb.svg" %}</li><li><span>Six Hours in Amsterdam</span></li></ul></li>
                    <li class="counter"><p></p></li>
                </ul>
            </nav>
        </div>
    </div>
    <ul class="photoalbum" id="imageloader">
        <li id="1" class="photocontainer portrait"><a href="#1"><img alt="Photo 1" src="{% static '/static/img/Photography/Compressed/Sets/AMS_Travel/DSCF0407.jpg' %}" /></a></li>
        <li id="2" class="photocontainer"><a href="#2"><img alt="Photo 2" src="{% static '/static/img/Photography/Compressed/Sets/AMS_Travel/DSCF0427.jpg' %}" /></a></li>
        <li id="3" class="photocontainer"><a href="#3"><img alt="Photo 3" src="{% static '/static/img/Photography/Compressed/Sets/AMS_Travel/DSCF0432.jpg' %}" /></a></li>
        <li id="4" class="photocontainer portrait"><a href="#4"><img alt="Photo 4" src="{% static '/static/img/Photography/Compressed/Sets/AMS_Travel/DSCF0435.jpg' %}" /></a></li>
        <li id="5" class="photocontainer"><a href="#5"><img alt="Photo 5" src="{% static '/static/img/Photography/Compressed/Sets/AMS_Travel/DSCF0437.jpg' %}" /></a></li>
        <li id="6" class="photocontainer"><a href="#6"><img alt="Photo 6" src="{% static '/static/img/Photography/Compressed/Sets/AMS_Travel/DSCF0504.jpg' %}" /></a></li>
        <li id="7" class="photocontainer"><a href="#7"><img alt="Photo 7" src="{% static '/static/img/Photography/Compressed/Sets/AMS_Travel/DSCF0515.jpg' %}" /></a></li>
        <li id="8" class="photocontainer portrait"><a href="#8"><img alt="Photo 8" src="{% static '/static/img/Photography/Compressed/Sets/AMS_Travel/DSCF0952.jpg' %}" /></a></li>
        <li id="9" class="photocontainer portrait"><a href="#9"><img alt="Photo 9" src="{% static '/static/img/Photography/Compressed/Sets/AMS_Travel/DSCF1010.jpg' %}" /></a></li>
        <li id="10" class="photocontainer portrait"><a href="#10"><img alt="Photo 10" src="{% static '/static/img/Photography/Compressed/Sets/AMS_Travel/DSCF1049.jpg' %}" /></a></li>
        <li id="11" class="photocontainer"><a href="#11"><img alt="Photo 11" src="{% static '/static/img/Photography/Compressed/Sets/AMS_Travel/DSCF1055.jpg' %}" /></a></li>
        <li id="12" class="photocontainer portrait"><a href="#12"><img alt="Photo 12" src="{% static '/static/img/Photography/Compressed/Sets/AMS_Travel/DSCF1058.jpg' %}" /></a></li>
    </ul>
    <div class="wrapper">	
        <div class="container">    
            <ul class="proximal-nav">
                <li class="prev">
                    <span class="centering-box">
                        <a href="annecy.html">                
                            <div class="icon-caption">{% include "svg/proximal-prev.svg" %}</div>
                            <h5>Previous Set</h5>
                            <h6>Annecy, Carnivale</h6>
                        </a>
                    </span>
                </li>
                <li class="next">
                    <span class="centering-box">
                        <a href="womensmarchone.html">
                            <div class="icon-caption">{% include "svg/proximal-next.svg" %}</div>
                            <h5>Next Set</h5>
                            <h6>Women's March (1 / 2)</h6>
                        </a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}

            