{% extends "photo-album.html" %}
{% block title %}Wil Nichols : Photography : Sets : Annecy{% endblock title%}

{% block css %}
    <link rel="stylesheet" href="{% static '/static/css/photoalbum.css' %}" />
{% endblock css %}

{% block content %}		
    <nav class="photography-nav">
        <ul>
            <li class="breadcrumbs"><ul><li><a href="../sets.html">Sets</a></li><li class="separator">{% include "svg/breadcrumb.svg" %}</li><li><span>Annecy, Carnivale</span></li></ul></li>
            <li class="counter"><p></p></li>
        </ul>
    </nav>
    <ul class="photoalbum" id="imageloader">
        <li id="1" class="photocontainer"><a href="#1"><img alt="Photo 1" src="{% static '/static/img/Photography/Compressed/Sets/Carnivale_Annecy/DSCF0153.jpg' %}" /></a></li>
        <li id="2" class="photocontainer"><a href="#2"><img alt="Photo 2" src="{% static '/static/img/Photography/Compressed/Sets/Carnivale_Annecy/DSCF0165.jpg' %}" /></a></li>
        <li id="3" class="photocontainer"><a href="#3"><img alt="Photo 3" src="{% static '/static/img/Photography/Compressed/Sets/Carnivale_Annecy/DSCF0169.jpg' %}" /></a></li>
        <li id="4" class="photocontainer"><a href="#4"><img alt="Photo 4" src="{% static '/static/img/Photography/Compressed/Sets/Carnivale_Annecy/DSCF0237.jpg' %}" /></a></li>
    </ul>
    
{% endblock content %}

{% block scripts %}
{% endblock scripts %}

            