{% extends "photo-album.html" %}
{% block title %}Wil Nichols : Photography : Sets : Annecy, Carnivale{% endblock title%}

{% block css %}
    <link rel="stylesheet" href="{% static '/static/css/photoalbum.css' %}" />
{% endblock css %}

{% block content %}	
    <div class="wrapper">	
        <div class="container">    
            <nav class="photography-nav">
                <ul>
                    <li class="breadcrumbs"><ul><li><a href="../sets.html">Sets</a></li><li class="separator">{% include "svg/breadcrumb.svg" %}</li><li><span>Annecy, Carnivale</span></li></ul></li>
                    <li class="counter"><p></p></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="photoalbumwrapper">
        <span class="button-next">{% include "svg/album-next.svg" %}</span>
        <span class="button-prev">{% include "svg/album-prev.svg" %}</span>
        <ul class="photoalbum" id="imageloader">
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Carnivale_Annecy/DSCF0153.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Carnivale_Annecy/DSCF0165.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Carnivale_Annecy/DSCF0169.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Carnivale_Annecy/DSCF0237.jpg' %}" /></a></li>
        </ul>
    </div>
    <div class="container">
        <div class="wrapper">
            <ul class="proximal-nav">
                <li class="insta">
                    <span class="centering-box">
                        <a href="https://www.instagram.com/wilthedznr" target="_blank">
                            <div class="icon-caption">{% include "svg/proximal-insta.svg" %}</div>
                            <h5>Get the Latest</h5>
                            <h6>Follow me on Instagram.</h6>
                        </a>
                    </span>
                </li>
                <li class="next">
                    <span class="centering-box">
                        <a href="amsterdam.html">
                            <div class="icon-caption">{% include "svg/proximal-next.svg" %}</div>
                            <h5>Next Set</h5>
                            <h6>Six Hours in Amsterdam</h6>
                        </a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}

            