{% extends "photo-album.html" %}
{% block title %}Wil Nichols : Photography : Sets : Lyon{% endblock title%}

{% block css %}
    <link rel="stylesheet" href="{% static '/static/css/photoalbum.css' %}" />
{% endblock css %}

{% block content %}		
    <div class="wrapper">	
        <div class="container">    
            <nav class="photography-nav">
                <ul>
                    <li class="breadcrumbs"><ul><li><a href="../sets.html">Sets</a></li><li class="separator">{% include "svg/breadcrumb.svg" %}</li><li><span>Lyon</span></li></ul></li>
                    <li class="counter"><p></p></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="photoalbumwrapper">
        <span class="button-next">{% include "svg/album-next.svg" %}</span>
        <span class="button-prev">{% include "svg/album-prev.svg" %}</span>
        <ul class="photoalbum" id="imageloader">
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF7529.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF7532.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF7533.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF9344.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF7528.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF7522.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF9479.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF9921.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF9920.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF9459.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF9514.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF7273.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF9628.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF7258.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF9659.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF2737.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF2741.jpg' %}" /></a></li>             
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF2747.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF6582.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF7336.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF6619-3.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF6619.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF2062.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF2047.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF2157.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF3874.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF9676.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF2194.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF2255.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF6889.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF6916.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF6957.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF6767.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF7101.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF3865.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF6968.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF9906.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF9568.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF7468.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF7424.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Lyon/DSCF7194.jpg' %}" /></a></li>
        </ul>
    </div>
    <div class="wrapper">	
        <div class="container">    
            <ul class="proximal-nav">
                <li class="prev">
                    <span class="centering-box">
                        <a href="giantscauseway.html">
                            <div class="icon-caption">{% include "svg/proximal-prev.svg" %}</div>
                            <h5>Previous Set</h5>
                            <h6>Giant's Causeway</h6>
                        </a>
                    </span>
                </li>
                <li class="next">
                    <span class="centering-box">
                        <a href="madrid.html">
                            <div class="icon-caption">{% include "svg/proximal-next.svg" %}</div>
                            <h5>Next Set</h5>
                            <h6>Madrid</h6>
                        </a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}

            