{% extends "photo-album.html" %}
{% block title %}Wil Nichols : Photography : Sets : Manchester{% endblock title%}

{% block css %}
    <link rel="stylesheet" href="{% static '/static/css/photoalbum.css' %}" />
{% endblock css %}

{% block content %}		
    <div class="wrapper photography-nav-wrapper">	
        <div class="container">    
            <nav class="photography-nav">
                <ul>
                    <li class="breadcrumbs"><ul><li><a href="../sets.html">Sets</a></li><li class="separator">{% include "svg/breadcrumb.svg" %}</li><li><span>Manchester</span></li></ul></li>
                    <li class="counter"><p></p></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="photoalbumwrapper">
        <span class="button-next">{% include "svg/album-next.svg" %}</span>
        <span class="button-prev">{% include "svg/album-prev.svg" %}</span>
        <ul class="photoalbum" id="imageloader">
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Manchester/DSCF0398.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Manchester/DSCF0403.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Manchester/DSCF0409.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Manchester/DSCF0415.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Manchester/DSCF0422.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Manchester/DSCF0442.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Manchester/DSCF0444.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Manchester/DSCF0474.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Manchester/DSCF0455.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/Manchester/DSCF0459.jpg' %}" /></a></li>

</ul>
    </div>
    <div class="wrapper proximal-nav-wrapper">	
        <div class="container">    
            <ul class="proximal-nav">
                <li class="prev">
                    <span class="centering-box">
                        <a href="icelandsoutherncoast.html">
                            <div class="icon-caption">{% include "svg/proximal-prev.svg" %}</div>
                            <h5>Previous Set</h5>
                            <h6>Iceland, Southern Coast</h6>
                        </a>
                    </span>
                </li>
                <li class="next">
                    <span class="centering-box">
                        <a href="giantscauseway.html">
                            <div class="icon-caption">{% include "svg/proximal-next.svg" %}</div>
                            <h5>Next Set</h5>
                            <h6>Giant's Causeway</h6>
                        </a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}

            