{% extends "photo-album.html" %}
{% block title %}Wil Nichols : Photography : Sets : People{% endblock title%}

{% block css %}
    <link rel="stylesheet" href="{% static '/static/css/photoalbum.css' %}" />
{% endblock css %}

{% block content %}		
    <div class="wrapper">	
        <div class="container">    
            <nav class="photography-nav">
                <ul>
                    <li class="breadcrumbs"><ul><li><a href="../sets.html">Sets</a></li><li class="separator">{% include "svg/breadcrumb.svg" %}</li><li><span>Austen, Neon</span></li></ul></li>
                    <li class="counter"><p></p></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="photoalbumwrapper">
        <span class="button-next">{% include "svg/album-next.svg" %}</span>
        <span class="button-prev">{% include "svg/album-prev.svg" %}</span>
        <ul class="photoalbum" id="imageloader">
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1730.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1672.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1553.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1567.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1517.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1516.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF2613.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF3670.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF3668.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1848.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1856.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1882.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1973.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1792.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1696.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1280.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF9881.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF8788.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF6653.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1152.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1154.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1160.jpg' %}" /></a></li>
            <li class="photocontainer "><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF9116.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF9338.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF7073.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF7510.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF7832.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF7857.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF6759.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF6884.jpg' %}" /></a></li>            
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF6727.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF6438.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF6452.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF6161.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF5504.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF5500.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF5437.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF6042.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF5425.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF5421.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF4884.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF4838.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF4872.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF4359.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF4350.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF4308.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF4227.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF4224.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF4213.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF4167.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF4154.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF4068.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF4060.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF4059.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF4024.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF3968.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF3909.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF7634.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF7618.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF3399.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF3585.jpg' %}" /></a></li>           
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF3225.jpg' %}" /></a></li> 
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF5068.jpg' %}" /></a></li>                    
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF5047.jpg' %}" /></a></li>       
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1440.jpg' %}" /></a></li>                      
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1806.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1802.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1798.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1785.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF2631.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF2253.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF0413.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF0385.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF0352.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF0097.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1244.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF0713.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF0628-2.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF0544.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF9697.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF9314.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF9085.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF9046.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF8987.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF7760.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF6916.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF6827.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF5596.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF5226.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF5682.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF4491.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF4105.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF4096.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF2062.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF2047.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF7810.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF7904.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF6960.jpg' %}" /></a></li>                       
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF6959.jpg' %}" /></a></li>    
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF2590.jpg' %}" /></a></li>    
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF2682.jpg' %}" /></a></li>    
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF2807.jpg' %}" /></a></li>   
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF1009.jpg' %}" /></a></li>   
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF0886.jpg' %}" /></a></li>   
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF0955.jpg' %}" /></a></li>   
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF0634.jpg' %}" /></a></li>   
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF0738.jpg' %}" /></a></li>   
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF0628.jpg' %}" /></a></li>   
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF8748.jpg' %}" /></a></li>                                                               
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF8636.jpg' %}" /></a></li>         
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF8783.jpg' %}" /></a></li>   
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF9077.jpg' %}" /></a></li>               
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF8279.jpg' %}" /></a></li>        
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF8086.jpg' %}" /></a></li>   
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF5926.jpg' %}" /></a></li>   
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF5805.jpg' %}" /></a></li>               
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF4145.jpg' %}" /></a></li>  
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF4040.jpg' %}" /></a></li>  
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF3789.jpg' %}" /></a></li>  
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF3943.jpg' %}" /></a></li>  
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF3447.jpg' %}" /></a></li>                                      
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF3310.jpg' %}" /></a></li>                                      
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF2623.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF2870.jpg' %}" /></a></li>  
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF2865.jpg' %}" /></a></li>  
        </ul>
    </div>
    <div class="wrapper">	
        <div class="container">    
            <ul class="proximal-nav">
                <li class="prev">
                    <span class="centering-box">
                        <a href="austenneon.html">
                            <div class="icon-caption">{% include "svg/proximal-prev.svg" %}</div>
                            <h5>Previous Set</h5>
                            <h6>Austen, Neon</h6>
                        </a>
                    </span>
                </li>
                <li class="next">
                    <span class="centering-box">
                        <a href="icelandsoutherncoast.html">
                            <div class="icon-caption">{% include "svg/proximal-next.svg" %}</div>
                            <h5>Next Set</h5>
                            <h6>Iceland, Southern Coast</h6>
                        </a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}

            