{% extends "photo-album.html" %}
{% block title %}Wil Nichols : Photography : Sets : San Fermin, Antone's{% endblock title%}

{% block css %}
    <link rel="stylesheet" href="{% static '/static/css/photoalbum.css' %}" />
{% endblock css %}

{% block content %}		
    <div class="wrapper photography-nav-wrapper">	
        <div class="container">    
            <nav class="photography-nav">
                <ul>
                    <li class="breadcrumbs"><ul><li><a href="../sets.html">Sets</a></li><li class="separator">{% include "svg/breadcrumb.svg" %}</li><li><span>San Fermin, Antone's</span></li></ul></li>
                    <li class="counter"><p></p></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="photoalbumwrapper">
        <span class="button-next">{% include "svg/album-next.svg" %}</span>
        <span class="button-prev">{% include "svg/album-prev.svg" %}</span>
        <ul class="photoalbum" id="imageloader">
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/San_Fermin/DSCF8026.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/San_Fermin/DSCF8172.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/San_Fermin/DSCF8260.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/San_Fermin/DSCF8295.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/San_Fermin/DSCF8340.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/San_Fermin/DSCF8403.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/San_Fermin/DSCF8635.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/San_Fermin/DSCF8415.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/San_Fermin/DSCF8423.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/San_Fermin/DSCF8436.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/San_Fermin/DSCF8496.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/San_Fermin/DSCF8556.jpg' %}" /></a></li>
            <li class="photocontainer portrait"><a><img src="{% static '/static/img/Photography/Compressed/Sets/San_Fermin/DSCF8594.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/San_Fermin/DSCF8684.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/San_Fermin/DSCF8735.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/San_Fermin/DSCF8785.jpg' %}" /></a></li>
            <li class="photocontainer"><a><img src="{% static '/static/img/Photography/Compressed/Sets/San_Fermin/DSCF8788.jpg' %}" /></a></li>
        </ul>
    </div>
    <div class="wrapper proximal-nav-wrapper">	
        <div class="container">    
            <ul class="proximal-nav">
                <li class="prev">
                    <span class="centering-box">
                        <a href="paris.html">
                            <div class="icon-caption">{% include "svg/proximal-prev.svg" %}</div>
                            <h5>Previous Set</h5>
                            <h6>Paris</h6>
                        </a>
                    </span>
                </li>
                <li class="next">
                    <span class="centering-box">
                        <a href="uptowncondos.html">
                            <div class="icon-caption">{% include "svg/proximal-next.svg" %}</div>
                            <h5>Next Set</h5>
                            <h6>Uptown Condos</h6>
                        </a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}

            