{% extends "base.html" %}
{% block title %}Wil Nichols, Designer{% endblock title%}

{% block pagename %}index{% endblock pagename%}

{% block content %}		
<main class="wrapper">
    <div class="container block">
        <div class="center">
            <h1>Wil Nichols</h1>
            <p lang="en" class="bio">I'm a multidisciplinary designer and photographer creating the world's best business and consumer push-to-talk solution at <a target="_blank" href="//www.zellowork.com">Zello</a>. I've been polishing pixels since 2008, and when not designing interfaces, you'll find me exploring the streets of Austin, TX.</p>
        </div>
    </div>
</main>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}