{% extends "base.html" %}
{% block title %}Wil Nichols, Designer{% endblock title%}

{% block pagename %}photography{% endblock pagename%}

{% block css %}
    <link rel="stylesheet" href="{% static '/static/css/photography.css' %}" />
{% endblock css %}

{% block content %}		
<div class="content-body">
    <div class="wrapper">
        <div class="container">
                <p>I love to travel — locally and abroad — and my camera follows me everywhere. I focus in street and travel photography, but truly enjoy whatever captures my eye.</p>
                <p>If you live near Austin, I take portraits. <a href="hello.com">Contact me</a>.</p>
        </div>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="photography-grid grid">
                <div class="grid__col grid__col--1-of-1"><a href=""><img alt="Carnivale in Annecy" src="{% static '/static/img/Photography/Compressed/Sets/CarnivaleAnnecy/DSCF0169.jpg' %}" /></a></div>
                <div class="grid__col grid__col--1-of-2"><a href=""><img alt="Amsterdam, Travel" src="{% static '/static/img/Photography/Compressed/Sets/AMStravel/DSCF1010.jpg' %}" /></a></div>
                <div class="grid__col grid__col--1-of-2"><a href=""><img alt="Women's March (1/2)" src="{% static '/static/img/Photography/Compressed/Sets/WomensMarch1of2/DSCF5341.jpg' %}" /></a></div>
                <div class="grid__col grid__col--1-of-2"><a href=""><img alt="Women's March (2/2)" src="{% static '/static/img/Photography/Compressed/Sets/WomensMarch2of2/DSCF5188.jpg' %}" /></a></div>
                <div class="grid__col grid__col--1-of-2"><a href=""><img alt="Breakfast at Julio's" src="{% static '/static/img/Photography/Compressed/Sets/BreakfastatJulios/DSCF6047.jpg' %}" /></a></div>
                <div class="grid__col grid__col--1-of-3"><a href=""><img alt="Austen, Neone" src="{% static '/static/img/Photography/Compressed/Sets/AustenNeon/DSCF6163.jpg' %}" /></a></div>
                <div class="grid__col grid__col--1-of-3"><a href=""><img alt="Andrew's and Kira's engagement" src="{% static '/static/img/Photography/Compressed/Sets/AndrewsandKirasEngagement/DSCF7147.jpg' %}" /></a></div>
                <div class="grid__col grid__col--1-of-3"><a href=""><img alt="Giant's Causeway" src="{% static '/static/img/Photography/Compressed/Sets/Causeway/DSCF0850.jpg' %}" /></a></div>
                <div class="grid__col grid__col--1-of-3"><a href=""><img alt="Harpa" src="{% static '/static/img/Photography/Compressed/Sets/Harpa/DSCF7624.jpg' %}" /></a></div>
                <div class="grid__col grid__col--1-of-3"><a href=""><img alt="Iceland, Southern Coast" src="{% static '/static/img/Photography/Compressed/Sets/IcelandSouthernCoast/DSCF8304-2.jpg' %}" /></a></div>
                <div class="grid__col grid__col--1-of-3"><a href=""><img alt="Kitchen Sink" src="{% static '/static/img/Photography/Compressed/Sets/KitchenSink/DSCF0762.jpg' %}" /></a></div>
                <div class="grid__col grid__col--1-of-3"><a href=""><img alt="Palo Alto" src="{% static '/static/img/Photography/Compressed/Sets/PaloAlto/DSCF6958.jpg' %}" /></a></div>
                <div class="grid__col grid__col--1-of-3"><a href=""><img alt="Paris, March 2016" src="{% static '/static/img/Photography/Compressed/Sets/ParisMarch2016/DSCF2472.jpg' %}" /></a></div>
                <div class="grid__col grid__col--1-of-3"><a href=""><img alt="People" src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF7760.jpg' %}" /></a></div>
                <div class="grid__col grid__col--1-of-3"><a href=""><img alt="Picnic at Mt Bonnel" src="{% static '/static/img/Photography/Compressed/Sets/PicnicatMtBonnel/DSCF4845.jpg' %}" /></a></div>
                <div class="grid__col grid__col--1-of-3"><a href=""><img alt="San Fermin" src="{% static '/static/img/Photography/Compressed/Sets/SanFermin/DSCF8788.jpg' %}" /></a></div>
                <div class="grid__col grid__col--1-of-3"><a href=""><img alt="Seaholm" src="{% static '/static/img/Photography/Compressed/Sets/Seaholm/DSCF1318.jpg' %}" /></a></div>
                <div class="grid__col grid__col--1-of-3"><a href=""><img alt="The Balloon Person" src="{% static '/static/img/Photography/Compressed/Sets/TheBalloonPerson/DSCF6918.jpg' %}" /></a></div>
                <div class="grid__col grid__col--1-of-3"><a href=""><img alt="Uptown Condos" src="{% static '/static/img/Photography/Compressed/Sets/UptownCondos/DSCF9204.jpg' %}" /></a></div>
                <div class="grid__col grid__col--1-of-3"><a href=""><img alt="Formal at Vulcan" src="{% static '/static/img/Photography/Compressed/Sets/FormalatVulcan/DSCF3945.jpg' %}" /></a></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}

            