{% extends "base.html" %}
{% block title %}Wil Nichols, Designer{% endblock title%}

{% block pagename %}photography{% endblock pagename%}

{% block css %}
    <link rel="stylesheet" href="{% static '/static/css/photography.css' %}" />
{% endblock css %}

{% block content %}		
<div class="content-body">
    <div class="wrapper">
        <div class="container">
                <p>I love to travel — locally and abroad — and my camera follows me everywhere. I focus in street and travel photography, but truly enjoy whatever captures my eye.</p>
                <p>If you live near Austin, I take portraits. <a href="hello.html">Contact me</a>.</p>
        </div>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="photography-grid">
                <div class="Annecy"><div class="photocontainer"><a href="/collections/annecy.html"><div class="titlecontainer"><span class="title">Annecy, Carnivale</span></div><img alt="Carnivale in Annecy" src="{% static '/static/img/Photography/Compressed/Sets/CarnivaleAnnecy/DSCF0169.jpg' %}" /></a></div></div>
                <div class="Amsterdam"><div class="photocontainer portrait"><a href="/collections/amsterdam.html"><div class="titlecontainer"><span class="title">Six Hours in Amsterdam</span></div><img alt="Amsterdam, Travel" src="{% static '/static/img/Photography/Compressed/Sets/AMStravel/DSCF1010.jpg' %}" /></a></div></div>
                <div class="WomensFirst"><div class="photocontainer"><a href="/collections/womensmarchone.html"><div class="titlecontainer"><span class="title">Women's March (1 / 2)</span></div><img alt="Women's March (1/2)" src="{% static '/static/img/Photography/Compressed/Sets/WomensMarch1of2/DSCF5341.jpg' %}" /></a></div></div>
                <div class="WomensSecond"><div class="photocontainer"><a href="/collections/womensmarchtwo.html"><div class="titlecontainer"><span class="title">Women's March (2 / 2)</span></div><img alt="Women's March (2/2)" src="{% static '/static/img/Photography/Compressed/Sets/WomensMarch2of2/DSCF5188.jpg' %}" /></a></div></div>
                <div class="Julios"><div class="photocontainer"><a href="/collections/julios.html"><div class="titlecontainer"><span class="title">Breakfast at Julio's</span></div><img alt="Breakfast at Julio's" src="{% static '/static/img/Photography/Compressed/Sets/BreakfastatJulios/DSCF6047.jpg' %}" /></a></div></div>
                <div class="AndrewandKira"><div class="photocontainer"><a href="/collections/andrewandkira.html"><div class="titlecontainer"><span class="title">Andrew's and Kira's Engagement</span></div><img alt="Andrew's and Kira's Engagement" src="{% static '/static/img/Photography/Compressed/Sets/AndrewsandKirasEngagement/DSCF7453.jpg' %}" /></a></div></div>
                <div class="AustenNeon"><div class="photocontainer portrait"><a href="/collections/austenneon.html"><div class="titlecontainer"><span class="title">Austen, Neon</span></div><img alt="Austen, Neon" src="{% static '/static/img/Photography/Compressed/Sets/AustenNeon/DSCF6161.jpg' %}" /></a></div></div>
                <div class="Iceland"><div class="photocontainer portrait"><a href="/collections/icelandsoutherncoast.html"><div class="titlecontainer"><span class="title">Iceland, Southern Coast</span></div><img alt="Iceland, Southern Coast" src="{% static '/static/img/Photography/Compressed/Sets/IcelandSouthernCoast/DSCF8415-2.jpg' %}" /></a></div></div>
                <div class="Harpa"><div class="photocontainer"><a href="/collections/harpa.html"><div class="titlecontainer"><span class="title">Harpa</span></div><img alt="Harpa" src="{% static '/static/img/Photography/Compressed/Sets/Harpa/DSCF7624.jpg' %}" /></a></div></div>
                <div class="Causeway"><div class="photocontainer"><a href="/collections/causeway.html"><div class="titlecontainer"><span class="title">Giant's Causeway</span></div><img alt="Giant's Causeway" src="{% static '/static/img/Photography/Compressed/Sets/Causeway/DSCF0850.jpg' %}" /></a></div></div>
                <div class="MtBonnel"><div class="photocontainer"><a href="/collections/mtbonnel.html"><div class="titlecontainer"><span class="title">Mount Bonnel</span></div><img alt="Picnic at Mt Bonnel" src="{% static '/static/img/Photography/Compressed/Sets/PicnicatMtBonnel/DSCF4845.jpg' %}" /></a></div></div>
                <div class="KitchenSink"><div class="photocontainer portrait"><a href="/collections/kitchensink.html"><div class="titlecontainer"><span class="title">Kitchen Sink</span></div><img alt="Kitchen Sink" src="{% static '/static/img/Photography/Compressed/Sets/KitchenSink/DSCF9379.jpg' %}" /></a></div></div>
                <div class="Paris"><div class="photocontainer portrait-full"><a href="/collections/paris.html"><div class="titlecontainer"><span class="title">Paris</span></div><img alt="Paris, March 2016" src="{% static '/static/img/Photography/Compressed/Sets/ParisMarch2016/DSCF2560.jpg' %}" /></a></div></div>
                <div class="People"><div class="photocontainer"><a href="/collections/people.html"><div class="titlecontainer"><span class="title">People</span></div><img alt="People" src="{% static '/static/img/Photography/Compressed/Sets/People/DSCF7760.jpg' %}" /></a></div></div>
                <div class="Seaholm"><div class="photocontainer portrait"><a href="/collections/seaholn.html"><div class="titlecontainer"><span class="title">Seaholm</span></div><img alt="Seaholm" src="{% static '/static/img/Photography/Compressed/Sets/Seaholm/DSCF1318.jpg' %}" /></a></div></div>
                <div class="SanFermin"><div class="photocontainer portrait-full"><a href="/collections/sanfermin.html"><div class="titlecontainer"><span class="title">San Fermin, Antone's</span></div><img alt="San Fermin" src="{% static '/static/img/Photography/Compressed/Sets/SanFermin/DSCF8635.jpg' %}" /></a></div></div>
                <div class="UptownCondos"><div class="photocontainer portrait-full"><a href="/collections/uptowncondos.html"><div class="titlecontainer"><span class="title">Uptown Condos</span></div><img alt="Uptown Condos" src="{% static '/static/img/Photography/Compressed/Sets/UptownCondos/DSCF9206.jpg' %}" /></a></div></div>
                <div class="BalloonPerson"><div class="photocontainer"><a href="/collections/balloonperson.html"><div class="titlecontainer"><span class="title">Balloon Person</span></div><img alt="The Balloon Person" src="{% static '/static/img/Photography/Compressed/Sets/TheBalloonPerson/DSCF6918.jpg' %}" /></a></div></div>
                <div class="FormalatVulcan" style=""><div class="photocontainer"><a href="/collections/vulcanformal.html"><div class="titlecontainer"><span class="title">Vulcan Gas Company, December</span></div><img alt="Formal at Vulcan" src="{% static '/static/img/Photography/Compressed/Sets/FormalatVulcan/DSCF3945.jpg' %}" /></a></div></div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}

            