<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title%}</title>
        {% include "partials/head.html" %}
        <script src="{% static '/static/js/photoalbum.js' %}"></script>
        {% block scripts %}
        {% endblock scripts %}
        {% block css %}
        {% endblock css %} 
    </head>
    <body>
        <div class="fullscreen-exit">{% include "svg/close.svg" %}</div>
        {% include "partials/header.html" %}
        <div class="content-body">
            
        {% block content %}
        {% endblock content %}
        </div>
        {% include "partials/footer.html" %}
    </body>
</html>